*{
    margin: 0%;
    padding: 0%;
}

#cabeçalho {
    height: 100px;
    background-color:lightcoral ;
    margin: 0%auto;
}

#menu {
    width: 20%;
    height: 600px;
    background-color:darkseagreen ;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#principal {
    width: 80px;
    height: 600px;
    background-color: rgb(194, 184, 184);
    float: left;
    margin-top: 1opx;
    margin-top: 10px;
}

#rodape {
    height: 50px;
    background-color: rgb(182, 145, 201);
    clear: both;
}

p {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     color: rgb(228, 70, 102);
}

